
body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef; 
    margin: 0;
    padding: 20px;
}


#game-container {
    max-width: 600px; 
    margin: auto; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


h1 {
    text-align: center; 
    color: #333; 
}


.word-row {
    display: flex; 
    justify-content: center; 
    margin-bottom: 10px; 
}


.letter-input {
    width: 40px; 
    height: 40px; 
    font-size: 24px; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 0 5px; 
}


#letters {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin-top: 20px; 
}


.letter {
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 5px; 
    font-size: 20px; 
    transition: background-color 0.3s; 
}


#sucess {
    display: none; 
    background-color: #f0f8ff; 
    border: 1px solid #ccc; 
    padding: 20px; 
    margin-top: 20px; 
    border-radius: 5px; 
    text-align: center; 
}


#title-sucess {
    font-size: 24px; 
    color: #333; 
}


#correct-word {
    font-size: 20px; 
    color: #555; 
}


button {
    width: 100%; 
    padding: 10px; 
    background-color: #007bff; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


button:hover {
    background-color: #0056b3; 
}
