html {
    background-color: #6e5c62;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
}

#root {
    /* background-color: #312b2d; */
    border-radius: 2px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#word-one {
    margin: 2px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#word-two {
    margin: 2px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#word-three {
    margin: 2px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#word-four {
    margin: 2px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#word-five {
    margin: 2px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#word-six {
    margin: 2px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.char-word-one {
    margin: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.char-word-two {
    margin: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.char-word-three {
    margin: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.char-word-four {
    margin: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.char-word-five {
    margin: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.char-word-six {
    margin: 2px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: flex;
    width: 60%;
    height: 80px;
    font-weight: bold;
    background-color: #615458;
    font-size: 50px;
    color: white;
    -webkit-appearance: none;
    outline-color: white;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
    pointer-events: none;
}


#sucess {
    background-color: #312b2d;
    border-radius: 20px;
    margin: 25px;
    display: none;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -800px;
    height: 800px;
}

label {
    color: white;
    font-size: 30px;
    font-weight: 200;
}

button{
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    height: 10%;
    margin: 50px;
    -webkit-appearance: none;
    outline: none;
    box-sizing: border-box;
}

#header-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}